*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 250px;
    padding: 15px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: 20px;
}

label p,
input,
button {
    margin-bottom: 10px;
}

input {
    padding: 2px;
    border-radius: 5px;
    border: 2px solid black;
}

button {
    padding: 7px 5px;
    width: 40%;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#result {
    text-align: center;
    font-weight: bold;
}